<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring My Blog - Create new post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h3>Create new post</h3>
    </div>
    <div class="row">
        <th:block th:if="${msg}">
            <p th:text="${msg}"></p>
        </th:block>
    </div>
    <div class="row">
        <a href="/posts">See All Posts</a>
    </div>
    <div class="form-group">
        <form method="post" th:action="@{/create-post}" th:object="${post}">
            <label>Category</label>
            <select th:field="*{category}">
                <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
            <label>Title</label>
            <input class="form-control" th:field="*{title}" type="text">
            <br>

            <label>Description</label>
            <input class="form-control" th:field="*{description}" type="text">
            <br>

            <label>Content</label>
            <textarea class="form-control" th:field="*{content}" th:type="text"></textarea>
            <br/>

            <button class="btn btn-primary">Create Post</button>
        </form>
    </div>
</div>
</body>
</html>