<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring My Blog - All Posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h3>All posts</h3>
    </div>
    <div class="row">
        <a href="/post/create">Create a new post</a>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thread class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Content</th>
                    <th colspan="2">Manage</th>
                </tr>
            </thread>
            <tbody>
            <th:block th:each="post:${posts}">
                <tr>
                    <td th:text="${post.title}"></td>
                    <th th:text="${post.description}"></th>
                    <th th:text="${post.content}"></th>
                    <th><a th:href="@{/post/edit/__${post.id}__ }">Edit</a></th>
                    <th><a th:href="@{/post/delete/__${post.id}__ }">Delete</a></th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>